

a:hover {
    text-decoration: none;
  }

:root {

     /* OVERIDES */
     
    /* FONTS */

    /* For a "playful" look use a rounded sans serif */

    /* COLORS */

    /* PRIMARY */

    --primary: #6961ff;
    /* --primary: hsl(250, 100%, 69%); */
    --primary2: hsl(240, 87%, 97%);
    --primary-text: hsl(243, 100%, 96%);
    --secondary-light: #ff5c98;
    --secondary-dark: hsl(338, 50%, 30%);
    --secondary-text: hsl(338, 100%, 97%);



    /* COOL GRAY */
    --cool-gray0: hsl(209, 15%, 28%);
    --cool-gray1: hsl(207, 12%, 43%);
    --cool-gray2: hsl(207, 12%, 58%);
    --cool-gray3: hsl(207, 16%, 76%);
    --cool-gray4: hsl(207, 21%, 88%);
    --cool-gray5: hsl(209, 25%, 98%);

    /* ----------------- */
    
    /* FONT SIZES */
    --font-size0: 12px;
    --font-size1: 14px;
    --font-size2: 16px;
    --font-size3: 18px;
    --font-size4: 20px;
    --font-size5: 24px;
    --font-size6: 26px;
    --font-size7: 30px;
    --font-size8: 36px;
    --font-size42: 42px;
    --font-size9: 48px;
    --font-size10: 60px;
    --font-size11: 72px;

    /* ----------------- */


    /* Font Weight */
    --font-weight0: 400;
    --font-weight1: 700;

    /* ----------------- */

    /* SIZES */
    --size0: 4px;
    --size1: 8px;
    --size2: 12px;
    --size3: 16px;
    --size4: 24px;
    --size5: 32px;
    --size6: 48px;
    --size7: 64px;
    --size8: 96px;
    --size9: 128px;
    --size10: 192px;
    --size11: 256px;
    --size12: 290px;
    --size-345: 345px;
    --size13: 384px;
    --size14: 512px;
    --size15: 640px;
    --size16: 768px;

    /* SCREEN SIZES */

    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;

    /* Line Height */
    
    /* Box Shadows */

    --boxshadow1: 0 1px 3px hsla(0,0%,0%,.2);
    --boxshadow2: 0 4px 6px hsla(0,0%,0%,.2);
    --boxshadow3: 0 5px 15px hsla(0,0%,0%,.2);
    --boxshadow4: 0 10px 24px hsla(0,0%,0%,.2);
    --boxshadow5: 0 15px 35px hsla(0,0%,0%,.2);

    /* Border Radius */

    --border-radius-card: 10px;

    /* Border Width */

    --bootstrap-card-border: 1px solid rgba(0, 0, 0, 0.125);

    --border0: 1px;
    --border1: 2px;
    --border2: 3px;
    --border3: 4px;
    -border4: 5px;

    /* Opacity */
}

/* MISC STYLES */

.text-container {
  padding-left: var(--size2);
  padding-right: var(--size2);
}

.section-title {
  text-align: center;
  font-size: var(--font-size9);
  margin-bottom: var(--size7);
  /* word-spacing: var(--size0);
  letter-spacing: 1px; */
  /* color: var(--cool-gray0); */
  /* font-weight: var(--font-weight0); */
}

.section-title-span {
  color: var(--secondary-light);
  font-weight: var(--font-weight1);
}

.shadow {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));      
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));  
}

@media only screen and (min-width: 960px) {
  .section-title {
    text-align: center;
    font-size: var(--font-size10);
    margin-bottom: var(--size7);
  }
}